/*http://palettab.com/*/

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Shadows Into Light Two', cursive;
}

body {
  margin: 0;
  background-color: #f4f4f49c;
}

main {
  display: flex;
}

.projects-palettes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-size: 80px;
  margin: 35px;
  font-family: 'Give You Glory', cursive;
}

.generate-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.generate-button {
  width: 95%;
  border-radius: 25px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #000;
  color: #fff;
}

.new-palette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 0 0 17px;
}

.new-palette-drop-down {
  font-size: 20px;
  cursor: pointer;
}

.new-palette-name {
  font-size: 20px;
  margin: 0 6px 0 11px;
  padding: 5px 0 0 5px;
  width: 47%;
}

.new-palette-save-button {
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.new-palette-save-button:hover {
  color: #fff;
  background-color: #000;
}

aside {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.color-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.color-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
}

.unlocked-icon {
  width: 50px;
  height: 50px;
  background-image: url('../assets/unlocked.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.locked-icon {
  width: 50px;
  height: 50px;
  background-image: url('../assets/locked.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.hex-code {
  color: #fff;
  font-size: 36px;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 3px;
}

.code1 {
  color: #fff;
  font-size: 36px;
}

.new-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
}

.project {
  margin-left: 20px;
}

.swatch-container {
  display: flex;
  flex-wrap: wrap;
}

.palette-swatch {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.color1 {
  background-color: #06AED5;
}

.color2 {
  background-color: #086788;
}

.color3 {
  background-color: #F0C808;
}

.color4 {
  background-color: #FFF1D0;
}

.color5 {
  background-color: #DD1C1A;
}

.create-new-projects-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 30px;
}

h3 {
  font-size: 20px;
  margin: 10px;
}

.new-project-container {
}

.new-project-title {
  font-size: 20px;
  padding: 5px 0 0 5px;
  width: 240px;
}

.new-project-save-button {
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.new-project-save-button:hover {
  color: #fff;
  background-color: #000;
}

.delete-palette-button:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 780px) {
  main {
    flex-direction: column-reverse;
  }

  h1 {
    display: inline-block;
    width: 100vw;
    font-size: 55px;
    margin-bottom: 10px;
  }
  .generate-button-container {
    width: 100vw;  
  }

  .generate-button {
    margin-bottom: 30px;
  }

  .color-container {
    margin-top: 20px;
  }
  .projects-palettes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .new-palette-container {
    width: 100vw;
    margin: 0;
  }

  .new-palette-name {
    margin: auto;
    width: 100vw;
  }

  .new-project-container {
    display: flex;
    width: 100vw;
    /*margin: 10px;*/
  }

  .create-new-projects-container {
    width: 100vw;
    margin: 0;
  }

  .new-projects {
    margin-left: 0;
    width: 100vw;
  }

  .new-project-title {
    height: 42px;
  }

  .new-palette-drop-down {
    margin: 10px;
  }

  aside {
    width: 100vw;
  }

  .new-project-save-button {
    padding: 1px 7px;
  }
}
